@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* NAV TOP  */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

::selection {
    color: #fff;
    background: #415843bb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #729976bb;
    color: white;
}

.navbar .title {
    color: rgb(59, 97, 59);
    font-weight: 1000;
}


.title {
    font-size: 2rem;
    margin: .5rem;
    font-style: bold;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-weight: 700;
}

.navbar-links li:hover {
    background-color: #37a15b;
    transition: 0.5s ease-in;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .7rem 3rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* NAV TOP - END */

/* MAPS - START */
.map .gmaps {
    display: flex;
    justify-content: center;
    padding: 35px;
    max-width: 100%;
    max-height: 50%;
    border-radius: 35px;
}

.map .gmaps img {
    border-radius: 40px;
    width: 100%;
}

/* MAPS - END */

/* TEXTBOX - START */

.textbox .tb-1 {
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.textbox .tb-1 h1 {
    font-size: 40px;
}

.textbox .tb-1 p {
    font-size: 30px;
}

.textbox .tb-2 {
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.textbox .tb-2 h1 {
    font-size: 40px;
}

.textbox .tb-2 p {
    font-size: 30px;
}

.textbox .tb-3 {
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.textbox .tb-3 h1 {
    font-size: 40px;
}

.textbox .tb-3 p {
    font-size: 30px;
}

/* TEXTBOX - END */

/* IMG TOKO - START */

.imgtoko {
    display: flex;
    justify-content: center;
    width: 100%;
}

.imgtoko img {
    border-radius: 20px;
    width: 100%;
    margin: 35px;
}

/* IMG TOKO - END */

/* SOCIAL MEDIA - START */

.social-container {
    width: 400px;
    margin: 5vh auto;
    text-align: center;
    padding: 5px;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 3em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #2d4d40, #1b3327);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #ff003c;
    background: -webkit-linear-gradient(45deg, #375740, #0f271b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.social-icons a.social-square:before {
    background: linear-gradient(45deg, #6d816d, #5b7066);
    border-radius: 10%;
}

.social-icons a.social-square:hover:before {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: scale(-180deg);
    border-radius: 100%;
}

.social-icons a.social-square:hover i {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    color: #fff;
    transform: scale(1.6);
    -webkit-text-fill-color: #fff;
}

/* SOCIAL MEDIA - END */

footer {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    background-color: #729976bb;
    margin-top: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
